{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div>
  <div class="container">
    <h1>Estátistica</h1>
  </div>
  
  <div class="row">
    <div class="col-6">
      <canvas id="grafico" style="height: 100rem;  width: 100rem;"></canvas>
    </div>
    <div class="col-6">
      <canvas id="grafico2" style="height: 100rem; width: 100rem;"></canvas>
    </div>
    
  </div>

  
  
  {% bootstrap_javascript jquery='full' %}
  <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
  
  <script type="text/javascript">
  $.get('{% url "dados" %}', function(data){
    var ctx = $("#grafico").get(0).getContext("2d");
    new Chart(ctx, {
        type: 'bar', data: data
    });
  });

  var ctx = document.getElementById('grafico2').getContext('2d');
  var myChart2 = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for label in datasets %} '{{ label }}', {% endfor %}]
      ,
      datasets: [{
        data: [{% for tipo, count in dados.items %} '{{ count }}', {% endfor %}]
      }],

    }
  })

  </script>
</div>
{% endblock %}