{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<div class="container">
  <h1>Estátistica</h1>
</div>
<div class="row">
  <div class="col-6">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>

<script>
$(document).ready(function(){
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: [{% for label in labels %}'{{ label }}',{% endfor %}],
          datasets: [
            {
              label: [{% for d in data %}'{{d.label}}',{% endfor %}],
              data: [{% for d in data %}{{d.qtd}},{% endfor %}],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }   
          ]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
});
</script>

{% endblock %}