{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>Ocorrências</h1>
    
    
    {% if submitted %}
        Ocorrência cadastrada com sucesso.
    {% else %}
        
    
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

                <button type="submit" class="btn btn-success">Salvar</button>
                <button type="submit" class="btn btn-warning">
                    <a href="{% url 'list_ocorrencia' %}">Cancelar</a>
                </button>

        </form>
    {% endif %}
{% endblock %}