{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>Passagem de Plantão</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="submit" class="btn btn-warning">
                    <a href="{% url 'list_ocorrencia' %}">Cancelar</a>
                </button>
            {% endbuttons %}
    </form>
{% endblock %}