{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div>
        <h1>Relatório</h1>
        <div class="row">
            <div class="col-7">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_filtro_ocorrencia">Filtrar ocorrência</label>
                        {{ form.tipo }}
                    </div>
                    <div class="form-group">
                        <label for="id_filtro_ocorrencia">Filtrar por data inicial</label>
                        {{ form.data_inicial }}
                    </div>
                    <div class="form-group">
                        <label for="id_filtro_ocorrencia">Filtrar por data Final</label>
                        {{ form.data_final }}
                    </div>

                    <span><button class="btn btn-success" id="csv" type="submit">Gerar relatório em CSV</button></span>
                    <span><button class="btn btn-danger" id="pdf" type="submit">Gerar relatório em PDF</button></span>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}